{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Student Registration Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <div class="card border-dark mb-4 border-4" style="max-width: 98rem;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">  
                                    <center> 
                                        <br /> 
                                    </center>
                                </div>
                            </div>

                            <div class="link">
                                <center>
                                    Need to Register as a Company?
                                    <button type="button" class="btn btn-link">Company registration</button>
                                </center>
                            </div>

                            <br>

                    
                            <div class="row">
                                <div class="col">
                                    <center> 
                                        <h1><b> Student Registration </b></h1>
                                    </center>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col">
                                    <hr> 
                                </div>
                            </div>
                            <br>


                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form.as_p}}

                                <center>
                                    <div class="signUpButton">
                                        <input type="submit" value="Sign Up" name="submit" >
                                    </div>
                                </center>


                               
                            </form>    
                             <br>

                             

                                
                                <br>



                             

                                   
                </div>

            </div>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <script>
            
            //Query All input fields
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Full name..';
            form_fields[2].placeholder='example@email.com..';
            form_fields[3].placeholder='Contact Number';
            form_fields[4].placeholder='Linkedin URL';
            form_fields[5].placeholder='2022-04-13';
            form_fields[6].placeholder='National Identity Card Number';
            form_fields[7].placeholder='Username';
            form_fields[8].placeholder='Password';
            form_fields[9].placeholder='Re-Enter Password';


            for (var field in form_fields){	
                form_fields[field].className += ' form-control'
            }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>