<!doctype html>
<html lang="en">
  <head>
    <title>Job Recruiting</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <br/> <br/>

    {% comment %} <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">dffgd</h3>
        <p class="card-text">You can Delete or Update your details.</p>
        <a href="" class="btn btn-primary">Delete Your Vacancy</a></br></br>
        <a href="" class="btn btn-primary">Update Your Details</a>
      </div>
    </div> {% endcomment %}


    {% for vacancy in vacan %}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">{{vacancy.company_name}}</h3>
        <p class="card-text">You can Delete or Update your details.</p>
        <a href="{% url 'updatecom' vacancy.id %}" class="btn btn-primary">Update Your Vacancy</a></br></br>
        <a href="{% url 'deletecom' vacancy.id %}" class="btn btn-primary">Delete Your Details</a>
      </div>
    </div>


      {% comment %} <table class="table">
        <thead>
          <tr>
            <th>Job</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{vacancy.company_name}}</td>
            <td><a class="btn btn-primary" href="">Delete</a></td>
            <td><a class="btn btn-primary" href="">Update</a></td>
          </tr>
        </tbody>
      </table> {% endcomment %}
    
    {% endfor %}
      
</body>
</html>










