<!doctype html>
<html lang="en">
  <head>
    <title>Create Vacancy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <br/> <br/>
    <div class="container">
        <div class="row" >
            <div class="col-md-6 mx-auto"  >

                <div class="card border-dark mb-4 border-4" style="max-width: 98rem;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">  
                                    <center> 
                                        <br /> 
                                    </center>
                                </div>
                            </div>

                    
                            <div class="row">
                                <div class="col">
                                    <center> 
                                        <h4> Update Vacancy </h4>
                                    </center>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <hr> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label> Company Name </label> 
                                         <div class="form-group">
                                             <div class="input-group">
                                                <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                
                                           </div> 
                                        </div>
                                </div>
        
                                  <div class="col-md-7">
                                    <input class="form-control form-control-sm" type="text" placeholder="Full Name" aria-label=".form-control-sm example">
                                         <div class="form-group">
                                             
                                          </div> 
                            
                                   
                                </div>
                                
                                </div> 

                                <div class="row">
                                    <div class="col-md-3">
                                        <label> Address </label>
                                         
                                             <div class="form-group">
                                                 <div class="input-group">
                                                    <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                    
                                               </div> 
                                            </div>
                                    </div>
            
                                    <div class="col-md-7">
                                        <input class="form-control form-control-sm" type="text" placeholder="Address" aria-label=".form-control-sm example">
                                             <div class="form-group">
                                                 
                                              </div> 
                                
                                              
   
                                    </div>
                                    </div> 

                                    <div class="row" >
                                        <div class="col-md-3">
                                            <label> Company Type </label>
                                             
                                                 <div class="form-group">
                                                     <div class="input-group">
                                                        <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                        
                                                   </div> 
                                                </div>
                                  
                                        </div>
                                    
                
                                        <div class="col-md-7">
                                            <input class="form-control form-control-sm" type="text" placeholder="Listed/Non Liste" aria-label=".form-control-sm example">
                                                 <div class="form-group">
                                                     
                                                  </div> 
                                         
                                          </div>  
                                    </div>

                                    <div class="row" class="col-md-3">
                                            <label> Job Tittle </label>
                                             
                                                 <div class="form-group">
                                                     <div class="input-group">
                                                        <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                        
                                                   </div> 
                                                </div>
                                            
                                            <div class="col-md-7" style="margin-left: 46px;">
                                                <div class="btn-group">
                                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      IT Consulting
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Software Engineering</a>
                                                        <a class="dropdown-item" href="#">Big data engineer</a>
                                                        <a class="dropdown-item" href="#">DevOps Engineer</a>
                                                        <a class="dropdown-item" href="#">Information systems security manager</a>
                                                        <a class="dropdown-item" href="#">Mobile applications developer</a>
                                                        <a class="dropdown-item" href="#">Database manager</a>
                                                        <a class="dropdown-item" href="#">Data scientist</a>
                                                        <a class="dropdown-item" href="#">Network/cloud engineer</a>
                                                        
                                                        

                                                      
                                                    </div>
                                                  </div>
                                               
                                                
                                                 </div>
                                      </div>
                                      <div class="row" class="col-md-3" >
                                        <label> Workd Stats </label>
                                         
                                             <div class="form-group">
                                                 <div class="input-group">
                                                    <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                    
                                               </div> 
                                            </div>
                                        
                                        <div class="col-md-7" style="margin-left: 46px;">
                                            <div class="btn-group">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  On-Site
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Remote</a>
                                                    <a class="dropdown-item" href="#">On-Site</a>
                                                    <a class="dropdown-item" href="#">Hybrid</a>
      
                                                  
                                                </div>
                                              </div>
                                           
                                            
                                             </div>
                                  </div>
                                      <div class="row" class="col-md-3">
                                                    <label> Graduate Status</label>
                                                    <div style="margin-left: 14px;">
                                                      <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                      <label class="form-check-label" for="inlineRadio1">Undergraduate</label>
                                                      </div>
                                                      <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                      <label class="form-check-label" for="inlineRadio2">Graduate</label>
                                                      </div>
                                                     <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                      <label class="form-check-label" for="inlineRadio3">Post-Graduate</label>
                                                      </div>  
                                                    </div>  
                                                         
                                         
                                      </div>

                                      <div class="row" class="col-md-3" >
                                         <label> Working Status</label>
                                     
                                      
                                      <div class="col-md-7">
                                    
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">FullTime</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Part Time</label>
                                          </div> <br/><br/>

                                        </div>
                                          

                                    </div>

                                    <div class="row" class="col-md-3" >
                                        <label> Job Description</label>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                              </div>

                                         </div>
                                        
                                    </div>
                                   
                                    

                                    <div class="row" class="col-md-3">
                                        <label> Essentional <br>Duties &<br>Responsibilities</label>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                              </div>

                                         </div>
                                        
                                    </div>

                                    <div class="row" class="col-md-3">
                                        <label> Educational <br> work  & <br> Other<br> Requirements...</label>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                              </div>

                                         </div>
                                        
                                    </div>

                                    <div class="row" class="col-md-3">
                                        <label> Working Hours </label>
                                         
                                             <div class="form-group">
                                                 <div class="input-group">
                                                    <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                    
                                               </div> 
                                            </div>
                                        
                                        <div class="col-md-7" style="margin-left: 46px;">
                                            <div class="btn-group">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  6h
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">6h</a>
                                                    <a class="dropdown-item" href="#">7h </a>
                                                    <a class="dropdown-item" href="#">8h</a>
                                                    <a class="dropdown-item" href="#">9h</a>
                                                    <a class="dropdown-item" href="#">10h</a>
                                                    
                                                  
                                                  
                                                </div>
                                              </div>
                                           
                                            
                                             </div>
                                      </div>

                                  <div class="row" class="col-md-3" >
                                    <label> No.of Applicants </label>
                                     
                                         <div class="form-group">
                                             <div class="input-group">
                                                <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                
                                           </div> 
                                        </div>
                                    
                                    <div class="col-md-7" style="margin-left: 46px;">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              1-5
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">1-5</a>
                                                <a class="dropdown-item" href="#">5-10</a>
                                                <a class="dropdown-item" href="#">10-20</a>
                                                <a class="dropdown-item" href="#">10-20</a>
                                                <a class="dropdown-item" href="#">20-50</a>
                                                <a class="dropdown-item" href="#">50+</a>
                                               
                                                
                                                

                                              
                                            </div>
                                          </div>
                                       
                                        
                                         </div>
                                </div>

                                <div class="row" class="col-md-3">
                                    <label> Experience </label>
                                     
                                         <div class="form-group">
                                             <div class="input-group">
                                                <TextBox CssClass="form-control" ID="TextBox4" runat="server" > </TextBox>
                                                
                                           </div> 
                                        </div>
                                    
                                    <div class="col-md-7" style="margin-left: 46px;">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              1 Year
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Intern</a>
                                                <a class="dropdown-item" href="#">6 months</a>
                                                <a class="dropdown-item" href="#">1 Year</a>
                                                <a class="dropdown-item" href="#">2 Year</a>
                                                <a class="dropdown-item" href="#">3 Year</a>
                                                <a class="dropdown-item" href="#">4 Year</a>
                                                <a class="dropdown-item" href="#">5 Year</a>
                                                <a class="dropdown-item" href="#">6 Year</a>
                                                <a class="dropdown-item" href="#">6+</a>
                                                
                                                

                                              
                                            </div>
                                          </div>
                                       
                                        
                                         </div>
                                </div>

                               
                                  <div class="form-group">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                      <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                      </label>
                                      
                                    </div>
                                  </div> 


                                  <button type="button" class="btn btn-primary btn-sm">Submit Application</button>
                            
                                    

                                    
                                                                                         
                                                            
                                                            
                                                  
                                                          




                                        </div> <br/>
                                        
                </div>

            </div>
        </div>
    </div>

</body>
</html>